<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxdq.xedsms.db.model.OutstockProductMapper" >
  <resultMap id="BaseResultMap" type="com.hxdq.xedsms.db.model.OutstockProduct" >
    <id column="out_id" property="outId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="barcode" property="barcode" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    out_id, product_id, count, price, barcode
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hxdq.xedsms.db.model.OutstockProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from outstockproduct
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from outstockproduct
    where out_id = #{outId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from outstockproduct
    where out_id = #{outId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hxdq.xedsms.db.model.OutstockProductExample" >
    delete from outstockproduct
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hxdq.xedsms.db.model.OutstockProduct" >
    <selectKey resultType="java.lang.Integer" keyProperty="outId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into outstockproduct (product_id, count, price, 
      barcode)
    values (#{productId,jdbcType=INTEGER}, #{count,jdbcType=INTEGER}, #{price,jdbcType=REAL}, 
      #{barcode,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hxdq.xedsms.db.model.OutstockProduct" >
    <selectKey resultType="java.lang.Integer" keyProperty="outId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into outstockproduct
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        product_id,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="barcode != null" >
        barcode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="barcode != null" >
        #{barcode,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hxdq.xedsms.db.model.OutstockProductExample" resultType="java.lang.Integer" >
    select count(*) from outstockproduct
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update outstockproduct
    <set >
      <if test="record.outId != null" >
        out_id = #{record.outId,jdbcType=INTEGER},
      </if>
      <if test="record.productId != null" >
        product_id = #{record.productId,jdbcType=INTEGER},
      </if>
      <if test="record.count != null" >
        count = #{record.count,jdbcType=INTEGER},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=REAL},
      </if>
      <if test="record.barcode != null" >
        barcode = #{record.barcode,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update outstockproduct
    set out_id = #{record.outId,jdbcType=INTEGER},
      product_id = #{record.productId,jdbcType=INTEGER},
      count = #{record.count,jdbcType=INTEGER},
      price = #{record.price,jdbcType=REAL},
      barcode = #{record.barcode,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hxdq.xedsms.db.model.OutstockProduct" >
    update outstockproduct
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="barcode != null" >
        barcode = #{barcode,jdbcType=CHAR},
      </if>
    </set>
    where out_id = #{outId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hxdq.xedsms.db.model.OutstockProduct" >
    update outstockproduct
    set product_id = #{productId,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER},
      price = #{price,jdbcType=REAL},
      barcode = #{barcode,jdbcType=CHAR}
    where out_id = #{outId,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.hxdq.xedsms.db.model.OutstockProductExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from outstockproduct
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>